body {
  background-color: #d6eaf1;
  font-family: Optima, serif;
  background-image: url('active.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#link {
  font-style: italic;
  background-color: rgb(242, 242, 242, 0.7);
  color: #4f2b11;
  text-decoration: none;
  border-style: solid;
  font-size: 40px;
  font-family: Optima, serif;
  width: fit-content;
  margin: 20px;
  text-align: center;
  top: 0;
  bottom: 0;
  padding: 2%;
}

#link:hover {
  background-color: rgb(242, 242, 242);
}

.dropbtn {
  font-style: italic;
  background-color: rgb(242, 242, 242, 0.7);
  color: #4f2b11;
  text-decoration: none;
  border-style: solid;
  font-size: 20px;
  font-family: Optima, serif;
  text-align: center;
  width: 152px;
}

.dropup {
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 150px;
}

.dropup-content {
  font-family: Optima, serif;
  font-style: italic;
  display: none;
  position: absolute;
  background-color: rgb(242, 242, 242, 0.7);
  border-style: solid;
  border-color:rgb(242, 242, 242, 0.7);
  width: 150px;
  bottom: 26px;
  height: 160px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: rgb(242, 242, 242);
}


img {  
  max-width: 50%;  
  height: auto;  
  }  